.header .topbar .today {
    font-size: 16px;
    font-weight: 500;
    color: var(--accent-color);
    font-family: var(--heading-font);
}

.header .topbar .phone {
    font-family: var(--heading-font);
    font-size: 16px;
    font-weight: 600;
}

.tgju-widget {
    margin-bottom: 15px !important;
    background: #eeeeee !important;
    border-radius: 25px !important;
}

.tgju-copyright {
    display: none !important;
}

.tgju-copyright-fix {
    display: none !important;
}

.navmenu .dropdown:hover > a > .bi-chevron-down {
    transform: rotate(90deg);
}

.call-to-action .newsletter-form {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 6px 8px;
    position: relative;
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    transition: 0.3s;
    border-radius: 50px;
  }
  
.call-to-action .newsletter-form:focus-within {
    border-color: var(--accent-color);
}
  
.call-to-action .newsletter-form input[type=email] {
    border: 0;
    padding: 4px;
    width: 100%;
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    color: var(--default-color);
}
  
.call-to-action .newsletter-form input[type=email]:focus-visible {
    outline: none;
}
  
.call-to-action .newsletter-form input[type=submit] {
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    margin: -7px -8px -7px 0;
    background: var(--accent-color);
    color: var(--contrast-color);
    transition: 0.3s;
    border-radius: 50px;
}
  
.call-to-action .newsletter-form input[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

